
<div class= "input">
<h2>Input:</h2>
<form action='/basic_calc' method='get'>
  <table class="inputs">
    <tr>
      <td>First Input:</td>
      <td><input type='number' name='first'></td>
    </tr>
    <tr>
      <td>Operator:</td>
      <td><input type='text' name='operator'></td>
    </tr>
    <tr>
      <td>Second Input:</td>
      <td><input type='number' name='second'></td>
    </tr>
  </table>
    <button>CalcIT!</button></li>
  </form>
</div>

<% if @result %>
<div class="results">
  <h2>Output:</h2>
  <p><%=@first%> <%=@operator%> <%=@second%> = <%= @result %></p>
</div>
<% end %>